

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.header{
margin-top:10%;
height:480px;
}
.header p{
margin-top:20px;
color:#000;
font-weight:bold;
font-size:18px;
}
.header h1{
color: #000;
font-size:50px;}

.project{
float:left;
width:200px;
margin-right:25px;
}

.project h5{
margin-top:-5px;
}

#new_line{ 
clear: left; 
} 
