
@font-face{
font-family: 'Devil Breeze Bold';
src: url('../fonts/devilbreezebold.ttf');
font-weight: bold;
}
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
#home #header{
text-align: center;
position: relative;
margin-top: 22%;
}
#home #header h1{
font-size: 180%;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
#home #registericon{
display: none;    
position: absolute;
top: 65%;
left: 40%;
height: 200px;
}
#home #registericon img{
height: 100%;
}
#home #registericon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#home #eventsicon{
display: none;    
position: absolute;
top: 12%;
left: 10%;
height: 200px;
}
#home #eventsicon img{
height: 100%;
}
#home #eventsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#home #sponsorsicon{
display: none;    
position: absolute;
top: 12%;
right: 10% ;
height: 200px;
}
#home #sponsorsicon img{
height: 100%;
}
#home #sponsorsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#header{
margin-top: 50px;
text-align: center;
margin-bottom: 5px; 
}
#header h1{
font-size: 50px;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
#content{
margin: 0 auto;
text-align: center;	
}
#logo{
position: fixed;
top:5px;
left: 5px;
}
#stamp{
position: fixed;
top:5px;
right: 5px;
}
#contentbox{
position:fixed;
top:50%;
left:50%;
margin:-200px 0 0 -45%;
width: 90%;
padding: 20px;
background:rgba(0,0,0,0.8);
border-radius: 5px;
height:500px;
color: #fff;
-moz-box-shadow: 5px 5px 5px #000;
-webkit-box-shadow: 5px 5px 5px #000;
box-shadow: 5px 5px 5px #000;
}
#contentbox p{
text-align: left;
font-family: Ubuntu;
font-size: 22px;
}

#preloader{
   margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
    background:url("../img/cartoon-network.jpg");
     background-size: 100%
}
#loaded{             
    display:none;
	margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
     background:url("../img/cartoon-network.jpg");
     background-size: 100%
    }