
@font-face{
font-family: 'Devil Breeze Bold';
src: local('Devil Breeze Bold') url('../fonts/Devil_Breeze_Bold.ttf') format('tff');
font-weight: bold;
}
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
#home #header{
margin-top: -moz-calc(40% - 150px);
margin-top: -webkit-calc(40% - 150px);
margin-top: calc(40% - 150px);  
text-align: center;
}
#home #header h1{
font-size: 180%;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
#home #eventsicon{
display: none;    
position: absolute;
margin-top: 5px;
left: 5px;
height: 300px;
}
#home #eventsicon img{
height: 100%;
}
#home #eventsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#home #sponsorsicon{
display: none;    
position: absolute;
margin-top: 5px;
right: 10px ;
height: 300px;
}
#home #sponsorsicon img{
height: 100%;
}
#home #sponsorsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#header{
margin-top: 50px;
text-align: center;
margin-bottom: 5px; 
}
#header h1{
font-size: 50px;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
#content{
margin: 0 auto;
text-align: center;	
}
#logo{
position: fixed;
top:5px;
left: 5px;
}
#contentbox{
position:fixed;
top:50%;
left:50%;
margin:-200px 0 0 -45%;
width: 90%;
padding: 20px;
background:rgba(0,0,0,0.8);
border-radius: 5px;
height:500px;
color: #fff;
-moz-box-shadow: 5px 5px 5px #000;
-webkit-box-shadow: 5px 5px 5px #000;
box-shadow: 5px 5px 5px #000;
}
#contentbox p{
text-align: left;
font-family: Ubuntu;
font-size: 22px;
}
.menu { pointer-events: auto;position: fixed; top: 200px; left: 50px; z-index: 99;  transition: opacity 0.5s;  text-align: left;}
.present .menu { opacity: 1; }
.menu i  { opacity: 0.4; }
.menu img { opacity: 0.4; }
.menu a:hover img { opacity: 1;  }
.menu a:hover i { opacity: 1; transition: opacity 0.5s;  }
.menu a { font-family: 'Quicksand Bold'; font-weight: 700; color: #fff; font-size: 22px; text-decoration: none; display: block; position: relative;}
.menu span { position: relative; top: -8px; opacity: 0; left: 20px; transition: opacity 0.5s; }
.menu a:hover span { opacity: 1; }

.menu .menu_hover { position: absolute; top: -11px; left: -13px; opacity: 0; transition: opacity 0.5s;  }
#preloader{
   margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
    background:url("../img/cartoon-network.jpg");
     background-size: 100%
}
#loaded{             
    display:none;
	margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
     background:url("../img/cartoon-network.jpg");
     background-size: 100%
    }