
@font-face{
font-family: 'Devil Breeze Bold';
src: url('../fonts/devilbreezebold.ttf');
font-weight: bold;
}
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
#home #header{
text-align: center;
position: relative;
margin-top: 22%;
}
#home #header h1{
font-size: 180%;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
.heading span{display:inline-block;position:relative;letter-spacing:-1px;-webkit-transition:all 0.2s ease-out;}
.heading span:hover{top:3px}
.heading .char2, .heading .char11{color:#e36b23;text-shadow:#9b4d1f -4px 4px 0}
.heading .char3, .heading .char10{color:#e6c92e;text-shadow:#9c8b26 -4px 4px 0}
.heading .char4, .heading .char9{color:#5da028;text-shadow:#427021 -4px 4px 0}
.heading .char5, .heading .char8{color:#4584be;text-shadow:#2f597f -4px 4px 0}
.heading .char6, .heading .char7{color:#7073cf;text-shadow:#4a4d88 -4px 4px 0}
.heading .char1, .heading .char12{color:#c44032;text-shadow:#863027 -4px 4px 0}
.char13{color:#e36b23;text-shadow:#9b4d1f -4px 4px 0}
 .char1{-webkit-transform:rotate(-3deg)}
 .char3{top:-1px;-webkit-transform:rotate(2deg)}
 .char4{top:-7px}
 .char6{top:-7px;-webkit-transform:rotate(2deg)}
 .char7{}
 .char8{top:1px;-webkit-transform:rotate(-2deg)}
 .char9{-webkit-transform:rotate(2deg)}
 .char11{}
 .char11:hover{-webkit-transition-duration:0.4s;}
 .char10{top:2px;left:-20px;width:30px;-webkit-transform:rotate(-3deg)}
 .char12{left:-14px}
 .char13{left:-10px;-webkit-transform:rotate(2deg)}

#home #registericon{
display: none;    
position: absolute;
top: 65%;
left: 40%;
height: 200px;
}
#home #registericon img{
height: 100%;
}
#home #registericon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#home #eventsicon{
display: none;    
position: absolute;
top: 12%;
left: 10%;
height: 200px;
}
#home #eventsicon img{
height: 100%;
}
#home #eventsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#home #sponsorsicon{
display: none;    
position: absolute;
top: 12%;
right: 10% ;
height: 200px;
}
#home #sponsorsicon img{
height: 100%;
}
#home #sponsorsicon img:hover{
-webkit-transform: scale(1.09); 
-moz-transform: scale(1.09); 
-ms-transform: scale(1.09); 
-o-transform: scale(1.09); 
transform: scale(1.09); 
}
#header{
margin-top: 50px;
text-align: center;
margin-bottom: 5px; 
}
#header h1{
font-size: 50px;
text-shadow:5px 5px #000000;
font-family: 'Devil Breeze Bold';     
}
#content{
margin: 0 auto;
text-align: center;	
}
#logo{
position: fixed;
top:5px;
left: 5px;
}
#stamp{
position: fixed;
top:5px;
right: 5px;
}
#contentbox{
position:fixed;
top:50%;
left:50%;
margin:-200px 0 0 -45%;
width: 90%;
padding: 20px;
background:rgba(0,0,0,0.8);
border-radius: 5px;
height:500px;
color: #fff;
-moz-box-shadow: 5px 5px 5px #000;
-webkit-box-shadow: 5px 5px 5px #000;
box-shadow: 5px 5px 5px #000;
}
#contentbox p{
text-align: left;
font-family: Ubuntu;
font-size: 22px;
}

#preloader{
   margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
    background:url("../img/cartoon-network.jpg");
     background-size: 100%
}
#loaded{             
    display:none;
	margin:0px;
	border:0px;
	padding:0px;
    position: absolute;
    width:100%;
	height:100%;
	z-index: 1000;
     background:url("../img/cartoon-network.jpg");
     background-size: 100%
    }